<h3>Listado de cestas {{ type }}. {{ entity|length }} cestas</h3>
<table>
    <thead>
    <tr>
        <th>Localidad</th>
        <th>Nombre</th>
        <th>Nº de cestas</th>
        <th>Tipo de cesta</th>
        <th>Huevos</th>
        <th>Quién la recoge</th>
    </tr>
    </thead>
    {% set has_basket=0 %}
    {% for group in weekly_basket_groups %}
        {% for basket in entity %}
            {% set partner_group = basket.partner.weeklyBasketGroup %}
            {% set active = basket.partner.getActiveBasket %}

            {% if partner_group and group.id == partner_group.id %}
                {% if has_basket!=1 %}
                    {% set has_basket=1 %}
                    <tr>
                        <td colspan="6" class="division"><span class="huge">{{ group.name }}</span></td>
                    </tr>
                {% endif %}
                <tr>
                    <td bgcolor="{{ group.color }}">{{ partner_group.name }} </td>
                    <td>{{ basket.partner }}</td>
                    <td>{{ active.amount ?? '—' }}</td>
                    <td>{{ basket.basketShare.id==5?'Sin cesta':'Entera' }}</td>
                    <td>{{ active.eggAmount ?? '' }}</td>
                    <td></td>
                </tr>
            {% endif %}
        {% endfor %}
        {% set has_basket=0 %}
    {% endfor %}
</table>