<h3>Listado de cestas {{ type }}. {{ (entity|length)/2 }} cestas</h3>
<table>
    <thead>
    <tr>
        <th>Localidad</th>
        <th>Nombre</th>
        <th>Tipo de cesta</th>
        <th>Huevos</th>
        <th>Quién la recoge</th>
    </tr>
    </thead>
    {% set has_basket=0 %}
    {% for group in weekly_basket_groups %}
        {% for basket in entity %}


            {% if not basket.partner.isListed %}
                {{ basket.partner.setIsListed(1) }}
                {% set color=randColor(true) %}
                <tr>
                    <td style="background-color: {{ color }}">{{ basket.partner.weeklyBasketGroup.name }}</td>
                    <td style="background-color: {{ color }}">
                        {{ basket.partner }}
                    </td>
                    <td rowspan="2">Entera compartida</td>
                    <td>{{ basket.partner.getActiveBasket.eggAmount }}</td>
                    <td></td>
                </tr>
                <tr >
                    {{ basket.partner.sharePartner.setIsListed(1) }}
                    <td style="background-color: {{ color }}">{{ basket.partner.sharePartner.weeklyBasketGroup.name }}</td>
                    <td style="background-color: {{ color }}">
                       {{ basket.partner.sharePartner }}
                    </td>
                    <td></td>
                    <td></td>

                </tr>

            {% endif %}
        {% endfor %}
        {% set has_basket=0 %}
    {% endfor %}
</table>



