{% extends 'base.html.twig' %}

{% block title %}PartnerBasketShare index{% endblock %}

{% block body %}
    <h1>PartnerBasketShare index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>Month_price</th>
                <th>Is_active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partner_basket_share in partner_basket_shares %}
            <tr>
                <td>{{ partner_basket_share.id }}</td>
                <td>{{ partner_basket_share.created ? partner_basket_share.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ partner_basket_share.updated ? partner_basket_share.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ partner_basket_share.startDate ? partner_basket_share.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ partner_basket_share.endDate ? partner_basket_share.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ partner_basket_share.monthPrice }}</td>
                <td>{{ partner_basket_share.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('partner_basket_share_show', {'id': partner_basket_share.id}) }}">show</a>
                    <a href="{{ path('partner_basket_share_edit', {'id': partner_basket_share.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('partner_basket_share_new') }}">Create new</a>
{% endblock %}
