{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Fowl list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Put_down_date</th>
                <th>Put_down_weight</th>
                <th>Carcass_weight</th>
                <th>Sale_price</th>
                <th>Note</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('fowl_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.putdowndate %}{{ entity.putdowndate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.putdownweight }}</td>
                <td>{{ entity.carcassweight }}</td>
                <td>{{ entity.saleprice }}</td>
                <td>{{ entity.note }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('fowl_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('fowl_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('fowl_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
