{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {% if loop.first %}
                <div class="col-lg-6">
            {% endif %}
            {% if loop.index0  is divisible by(2) and loop.index0>0 %}
                </div><div class="col-lg-6">
            {% endif %}
            {{- form_widget(child) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}<div class="clearfix"></div>
            {% if loop.last %}
                </div>
            {% endif %}
        {% endfor -%}
    </div>
    <div class="clearfix"></div>
{%- endblock choice_widget_expanded -%}

{%- block checkbox_widget -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget -%}