    {% extends '::layout_crud.html.twig' %}

    {% block title_wrapper %}Editar {% endblock %}
    {% block main -%}
    <div class="panel panel-default">
        <div class="panel-heading">

        </div>
        <div class="panel-body">
            {{ form_start(edit_form, {'action': path('basket_update',{'id':entity.id}), 'method': 'put','attr': {'role': 'form' }}) }}
            {{ form_errors(edit_form) }}
            <div class="row">
                <div class="form-group">
                    {{ form_errors(edit_form.note) }}
                    <label>{{ form_label(edit_form.note) }}</label>
                    {{ form_widget(edit_form.note,{'attr':{'class':'tinymce','placeholder':'Anotaciones'}}) }}
                </div>
            </div>
            {{ form_widget(edit_form.submit,{'attr':{'class':'btn btn-default' }}) }}
            {{ form_rest(edit_form) }}
            {{ form_end(edit_form, {'render_rest': false}) }}
            {{ form(edit_form) }}
        </div>
    </div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('production_show_basket_detail',{'id':entity.id}) }}">
            Volver al detalle de la cesta
        </a>
    </li>
    {#<li>{{ form(delete_form) }}</li>#}
</ul> {{ tinymce_init() }}
    {% endblock %}
     {% block specific_js %}{% endblock %}