{% extends '::layout_crud.html.twig' %}

    {% block title_wrapper %}Añadir {% endblock %}
    {% block main -%}
        <div class="panel panel-default">

            <div class="panel-body">
                {{ form_start(form, {'action': path('compostcollection_create'),'method': 'post','attr': {'role': 'form' }}) }}
                <div class='row'>
                    <div class="col-lg-6">
                        <div class="form-group">
                            {{ form_errors(form.collect_date) }}
                            <label>{{ form_label(form.collect_date) }}</label>
                            {{ form_widget(form.collect_date,{'attr':{'placeholder':'Fecha' }}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.amount) }}
                            <label>{{ form_label(form.amount) }}</label>
                            {{ form_widget(form.amount,{'attr':{'class':'form-control','placeholder':'Cantidad recogida' }}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.improper_percentage) }}
                            <label>{{ form_label(form.improper_percentage) }}</label>
                            {{ form_widget(form.improper_percentage,{'attr':{'class':'form-control','placeholder':'Porcentaje de impropios' }}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.compost_collection_point) }}
                            <label>{{ form_label(form.compost_collection_point) }}</label>
                            {{ form_widget(form.compost_collection_point,{'attr':{'class':'form-control','placeholder':'Punto de recogida' }}) }}
                        </div>
                    </div>
                </div>
                {{ form_widget(form.submit,{'attr':{'class':'btn btn-default'}}) }}
                {{ form_rest(form) }}
                {{ form_end(form, {'render_rest': false}) }}

            </div>
            <div class="panel-footer">
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('compostcollection') }}">Volver al listado</a>

                    </li>
                </ul>
            </div>
        </div>
    {% endblock %}
