<div class="alert alert-danger">
    <h4>{{ task.title }} (Fecha fija)</h4>
    {% if task.realDate %}
        <p><strong>Fecha de finalización: </strong>{{ task.realDate|format_date("long", locale="es") }}
    {% else %}
        <p><strong>Fecha prevista de realización: </strong>
            {{ task.expectedDate|format_date("long", locale="es") }}
        </p>
    {% endif %}
    {% if task.users %}
        <p><strong>Asignada a: {{ task.listUsers }} </strong></p>
    {% endif %}
    {{ task.content }}
    {% include 'Task/record_actions.html.twig' %}
</div>