{% extends 'base.html.twig' %}

{% block title %}PartnerEggShare{% endblock %}

{% block body %}
    <h1>PartnerEggShare</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partner_egg_share.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ partner_egg_share.name }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ partner_egg_share.created ? partner_egg_share.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ partner_egg_share.updated ? partner_egg_share.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Start_date</th>
                <td>{{ partner_egg_share.startDate ? partner_egg_share.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>End_date</th>
                <td>{{ partner_egg_share.endDate ? partner_egg_share.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Month_price</th>
                <td>{{ partner_egg_share.monthPrice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('partner_egg_share_index') }}">back to list</a>

    <a href="{{ path('partner_egg_share_edit', {'id': partner_egg_share.id}) }}">edit</a>

    {{ include('partner_egg_share/_delete_form.html.twig') }}
{% endblock %}
