<div class="row">
    <div class="col-lg-2 col-sm-2 py-2">
        <div class="date-wrap">
            <p style="margin-bottom: 0;">Creado el día:</p>
            <strong>{{ post.created|date('d/m/Y') }}</strong>
        </div>
        <div class="author mt-2">Administrador</div>
    </div>
    <div class="col-lg-10 col-sm-10 py-3">
        {% if post.image %}
            <div class="blog-img gs">
                <img class="img-fluid" src="{{ asset('uploads/blog/images/' ~ post.image) | imagine_filter('thumb_blog_article_main') }}" alt="{{ post.title }}"/>
            </div>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-lg-2 col-sm-2"></div>
    <div class="col-lg-10 col-sm-10">
        <h1>
            <a style="color: #138504" href="{{ path('blog_show', { slug: post.slug }) }}">
                {{ post.title }}
            </a>
        </h1>
        {% if extend == 0 %}
            <p>{{ post.content|striptags|u.truncate(400, '...', false) }}</p>
            <div class="clearfix"></div>
            <a class="btn btn-primary px-5" href="{{ path('blog_show', { slug: post.slug }) }}">Leer más</a>
        {% else %}
            <div class="intro">
                {% autoescape false %}
                    {% set snippets = insert_snippets(post, post.content|raw) %}
                    {% for snippet in snippets %}
                        {% if snippet is not iterable %}
                            {{ snippet }}
                        {% else %}
                            {% if snippet[0] == 'gallery' %}
                                {{ render(controller('App\\Controller\\' ~ snippet[0]|capitalize ~ 'Controller::show_snippet', { id: snippet[1], object_class: 'blog' })) }}
                            {% else %}
                                {{ render(controller('App\\Controller\\' ~ snippet[0]|capitalize ~ 'Controller::show_snippet', { id: snippet[1] })) }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endautoescape %}
            </div>
        {% endif %}
    </div>
</div>
