{% if extend == 0 %}

    {# Tarjeta de post para el listado del blog / recetas. #}
    <article class="csa-post">
        {% if post.image %}
            <a href="{{ path('blog_show', { slug: post.slug }) }}" class="csa-post__media">
                <img class="img-fluid" src="{{ asset('uploads/blog/images/' ~ post.image) | imagine_filter('thumb_blog_article_main') }}" alt="{{ post.title }}"/>
            </a>
        {% endif %}
        <div class="csa-post__body">
            <div class="csa-post__meta">
                <i class="fa fa-calendar-alt mr-1"></i>{{ post.created|date('d/m/Y') }}
                {% if post.category %}
                    <span class="csa-post__cat">{{ post.category.name }}</span>
                {% endif %}
            </div>
            <h2 class="csa-post__title">
                <a href="{{ path('blog_show', { slug: post.slug }) }}">{{ post.title }}</a>
            </h2>
            <p class="csa-post__excerpt">{{ post.content|excerpt(220) }}</p>
            <a class="csa-post__more" href="{{ path('blog_show', { slug: post.slug }) }}">
                Leer más <i class="fa fa-arrow-right ml-1"></i>
            </a>
        </div>
    </article>

{% else %}

    {# Vista del post individual: cabecera, imagen destacada y contenido
       con la media embebida ([[insert_media_*]]) resuelta por snippets. #}
    <article class="csa-post-full">
        <header class="csa-post-full__header">
            <div class="csa-post__meta">
                <i class="fa fa-calendar-alt mr-1"></i>{{ post.created|date('d/m/Y') }}
                {% if post.category %}
                    <span class="csa-post__cat">{{ post.category.name }}</span>
                {% endif %}
            </div>
            <h1 class="csa-post-full__title">{{ post.title }}</h1>
        </header>

        {% if post.image %}
            <div class="csa-post-full__media">
                <img class="img-fluid" src="{{ asset('uploads/blog/images/' ~ post.image) | imagine_filter('thumb_blog_article_main') }}" alt="{{ post.title }}"/>
            </div>
        {% endif %}

        <div class="csa-post-full__content intro">
            {% autoescape false %}
                {% set snippets = insert_snippets(post, post.content|raw) %}
                {% for snippet in snippets %}
                    {% if snippet is not iterable %}
                        {{ snippet }}
                    {% else %}
                        {% if snippet[0] == 'gallery' %}
                            {{ render(controller('App\\Controller\\' ~ snippet[0]|capitalize ~ 'Controller::show_snippet', { id: snippet[1], object_class: 'blog' })) }}
                        {% else %}
                            {{ render(controller('App\\Controller\\' ~ snippet[0]|capitalize ~ 'Controller::show_snippet', { id: snippet[1] })) }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endautoescape %}
        </div>
    </article>

{% endif %}
