{% extends 'Blog/frontend_index.html.twig' %}

{# En el detalle no tiene sentido el encabezado genérico del listado;
   lo sustituimos por un enlace de vuelta al blog. #}
{% block listing_header %}
    <div style="max-width: 820px; margin: 0 auto;">
        <a href="{{ path('frontend_blog') }}" class="csa-back-link"><i class="fa fa-angle-left mr-1"></i>Volver al blog</a>
    </div>
{% endblock %}

{% block post_main -%}
    {% include 'Blog/post_main.html.twig' with { extend: 1 } %}
{% endblock %}

{% block more_js %}

        <script>
            (function (d, u) {
                var a = new XMLHttpRequest(),
                        b = d.body;
                // Check for CORS support
                // If you're loading from same domain, you can remove the if statement
                if ("withCredentials" in a) {
                    a.open("GET", u, true);
                    a.send();
                    a.onload = function () {
                        var c = d.createElement("div");
                        c.setAttribute("hidden", "");
                        c.innerHTML = a.responseText;
                        b.insertBefore(c, b.childNodes[0]);
                    }
                }
            })(document, "{{ asset('assets/plyr/dist/sprite.svg')}}");
        </script>
        <script type="text/javascript" src="{{ asset('bundles/app/assets/plyr/dist/plyr.js') }}"></script>
        <script type="text/javascript">plyr.setup({});</script>
        <script src="{{ asset('bundles/app/assets/lightgallery/dist/js/lightgallery.min.js') }}"></script>
        <!-- lightgallery plugins -->
        <script src="{{ asset('bundles/app/assets/lightgallery/dist/js/lg-thumbnail.min.js') }}"></script>
        <script src="{{ asset('bundles/app/assets/lightgallery/dist/js/lg-fullscreen.min.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".gallery").lightGallery();
            });
        </script>

{% endblock %}
{% block more_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/assets/plyr/dist/plyr.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/assets/lightgallery/dist/css/lightgallery.min.css') }}"/>
{% endblock %}