{% extends 'base_front.html.twig' %}

{% block title %}Nuestras huertas · CSA Vega de Jarama{% endblock %}

{% block content %}


    <!-- Detail Start -->
    <div class="container py-5">
        <div class="row py-4">
             <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
                <div class="d-flex flex-column text-left mb-4">
                    <h1 class="mb-3" style="color:#138504">Nuestas Huertas</h1>                           
                </div>

                <div class="mb-5">
                <h2 class="mb-4">El sotillo</h2>
                    <a href="https://www.google.es/maps/@40.8525991,-3.4717733,212m/data=!3m1!1e3"><img class=" float-left mr-4 mb-3" style="width: 550px; height: 400px;" src="{{asset('bundles/app/img/huertacosecha.JPG') }}" alt="Image"></a>
                    <p>Es nuestra primera huerta. Era un espaco degradado por el abandono de un vivero forestal. En la
actualidad, tras regenerar y renaturalizar el espacio con criterios agroecológicos conviven más de
doscientas especies vegetales y animales en sectores humanizados y en transectos respetados con
criterios de sucesión ecológica natural en la que la intervención humana es de cuidados y matenimiento.
Cuenta con un invernadero que ayudar a adelantar y alargar temporadas, nunca a suplantarlas. En él
realizamos experiencias de semillado. Es un espacio defendido y socializado por nuestra mastina Tierra
que vive en estas tres hestáreas limitadas por un pastor eléctrico. Hasta el 2020 tenemos un modelo de
producción agroganadera integrado al que tenemos que renuciar por la legislación rectrictiva de nuestra
comunidad autónoma. En él se manajaban trescientas gallinas que regeneraban el suelo con su pisoteo,
picoteo y heces a modo de un agrocompostaje natural de gran valor ecológico. Estas se movían gracias a la
movilidad de los gallineros y los parques donde habitaban.
En este espacio además, se inicia y consolida con la ayuda de las instituciones de la comunidad una
experiencia de agrocompostaje en hilera de 110 Tm/año que tenemos que abandonar por estar situadas
en un zona perteneciente a la Red Natura 2000.</p>
                    
                    <h2 class="mb-4">La barca</h2>
                     <a href="https://www.google.es/maps/@40.8469443,-3.4746785,339m/data=!3m1!1e3"><img class="float-left mr-4 mb-3" style="width: 350px; height: 380px;"  src="{{ asset('bundles/app/img/huertabarca.JPG') }}" alt="Image"></a>
                    <p>Estas tres hectáreas son una finca arrendada a un particular situada a 500 metros de la anterior. Sirve
para cultivar especies que requieren gran superficie; patatas , melones, ajos, puerros, coles , calabaza y
para descanso a sectores más utilizados de El Sotillo. Cuenta con vallado y agua, y como la anaterior,
ésta está legalizada y manejada con criterios de eficiencia responsable.</p>
                </div>
                
            </div>

            <div class="col-lg-4 mt-5 mt-lg-5">
                <div class="mb-5">
                    <h3 class="mb-4">Agricultores</h3>
                    <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <img class="img-fluid" src="{{ asset('bundles/app/img/damaso1.jpg') }}" style="width: 80px; height: 80px;" alt="">
                        <div class="d-flex flex-column pl-3">
                            <a class="text-dark mb-2">Damaso</a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <img class="img-fluid" src="{{ asset('bundles/app/img/alberto1.jpg') }}" style="width: 80px; height: 80px;" alt="">
                        <div class="d-flex flex-column pl-3">
                            <a class="text-dark mb-2" >Alberto</a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <img class="img-fluid" src="{{ asset('bundles/app/img/david1.jpg') }}" style="width: 80px; height: 80px;" alt="">
                        <div class="d-flex flex-column pl-3">
                            <a class="text-dark mb-2" >David</a>
                        </div>
                    </div>
                    <h3 class="mb-4">Las que nos cuidan</h3>
                    <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <img class="img-fluid" src="{{ asset('bundles/app/img/tierra2.jpg') }}" style="width: 80px; height: 80px;" alt="">
                        <div class="d-flex flex-column pl-3">
                            <a class="text-dark mb-2" >Su nombre es tierra y es nuestra guardiana</a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <img class="img-fluid" src="{{ asset('bundles/app/img/liber1.jpg') }}" style="width: 105px; height: 90px;" alt="">
                        <div class="d-flex flex-column pl-3">
                            <a class="text-dark mb-2">Libertad nuestro pastor el que hace volver a casa a nuestras gallinas </a>
                        </div>
                    </div>
                </div>
         
				 <div class="mb-0 text" align="center">
                    <img src="{{ asset('bundles/app/img/invernadero.jpg') }}" style="width: 400px; height: 650px;"  alt="">
                </div>
         
            </div>
			
        </div>
    </div>
    <!-- Detail End -->
    <div class="container p-0 pt-0">
         <div class="d-flex flex-column text-center mb-0">
            <p>Voluntariado y trabajos en la huerta</p>
            </div>
            <div class="owl-carousel testimonial-carousel">
                 <div class="mx-0 p-2" >
                    <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" src="{{ asset('bundles/app/img/calabazashuerta3.jpg') }}" style="width:350px; height: 250px;" alt=""> 
                    </div>
                     <p> </p>
                 </div>
                 <div class="mx-0 p-2" >
                      <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" src="{{ asset('bundles/app/img/calabazas.jpg') }}" style="width:350px; height: 250px;" alt="">    
                    </div>
                      <p > </p>
                    </div>
				<div class="mx-0 p-2">
					<div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
					<img class="img-fluid" src="{{ asset('bundles/app/img/recolecta1.jpg') }}" style="width: 350px; height: 250px;" alt="">
				</div>
					<p></p>
				</div>

				<div class="mx-0 p-2">
					<div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" src="{{ asset('bundles/app/img/trabajo3huerta.jpg') }}" style="width:350px; height: 250px;" alt=""> 
                    </div>
                    	<p></p>
                	</div>
                    
                    <div class="mx-0 p-2">
                     	<div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" src="{{ asset('bundles/app/img/trabajohuerta5.jpg') }}" style="width:350px; height: 250px;" alt=""> 
                   	 </div>
                   		 <p></p>
                    </div>
                      
                    <div class="mx-0 p-2">
                      <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" src="{{ asset('bundles/app/img/trabajohuerta2.jpg') }}" style="width:350px; height: 250px;" alt="">  
                         </div> 
                         <p></p>
                    </div>
                     
                     <div class="mx-0 p-2">
                      <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" src="{{ asset('bundles/app/img/trabajohuerta4.jpg') }}" style="width:350px; height: 250px;" alt=""> 
                    </div>
                    	<p></p>
                    </div>
                 
                 <div class="mx-0 p-2">
                      <div class="d-flex align-items-end mb-3 mt-n4 ml-n4">
                        <img class="img-fluid" src="{{ asset('bundles/app/img/trabajohuerta1.jpg') }}" style="width:350px; height: 250px;" alt=""> 
                    </div>
                    	<p></p>
                    </div>
            </div>
        </div>


{% endblock %}
