{% extends '::layout_crud.html.twig' %}

{% block title_wrapper %}Añadir Noticia{% endblock %}
{% block main -%}
    <div class="panel panel-default">

        <div class="panel-body">
            {{ form_start(edit_form, {'action': path('blog_update',{'id':entity.id}),'method': 'put','attr': {'role': 'form', 'class': 'admin-form', 'data-place' : 'out-modal' }}) }}
            <div class='row'>
                <div class="col-lg-8">
                    <div class="form-group">
                        {{ form_errors(edit_form.category) }}
                        <label>{{ form_label(edit_form.category) }}</label>
                        {{ form_widget(edit_form.category,{'attr':{'class':'form-control','placeholder':'Categoría'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(edit_form.title) }}
                        <label>{{ form_label(edit_form.title) }}</label>
                        {{ form_widget(edit_form.title,{'attr':{'class':'form-control','placeholder':'Título'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(edit_form.file) }}
                        <label>{{ form_label(edit_form.file) }}</label>
                        {{ form_widget(edit_form.file) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(edit_form.content) }}
                        <label>{{ form_label(edit_form.content) }}</label>
                        {{ form_widget(edit_form.content,{'attr':{'placeholder':'Contenido'}}) }}
                    </div>
                </div>
                <div class="col-lg-4">
                    <aside class="admin-assets three columns">
                        {{ render(controller('AppBundle:Blog:edition',{'id':entity.id,'object_class':entity.getClass|lower})) }}
                    </aside>
                </div>
            </div>
            <div class="row">
                {{ form_widget(edit_form.submit,{'attr':{'class':'btn btn-default'}}) }}
                {{ form_rest(edit_form) }}
                {{ form_end(edit_form, {'render_rest': false}) }}
            </div>

        </div>
    </div> {{ tinymce_init() }}
{% endblock %}
    {% block more_js %}

        <script src="{{ asset('bundles/app/js/jquery-modal/jquery.modal.min.js') }}"></script>

    {% endblock %}