{% extends '::layout_crud.html.twig' %}

{% block title_wrapper %}Añadir Noticia{% endblock %}
{% block main -%}
    <div class="panel panel-default">

        <div class="panel-body">
            {{ form_start(form, {'action': path('blog_create'),'method': 'post','attr': {'role': 'form', 'class': 'admin-form', 'data-place' : 'out-modal' }}) }}
            <div class='row'>
                <div class="col-lg-6">
                    <div class="form-group">
                        {{ form_errors(form.category) }}
                        <label>{{ form_label(form.category) }}</label>
                        {{ form_widget(form.category,{'attr':{'class':'form-control','placeholder':'Categoría'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.title) }}
                        <label>{{ form_label(form.title) }}</label>
                        {{ form_widget(form.title,{'attr':{'class':'form-control','placeholder':'Título'}}) }}
                    </div>
                </div>
            </div>
            {{ form_widget(form.submit,{'attr':{'class':'btn btn-default'}}) }}
            {{ form_rest(form) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
        <ul class="record_actions">
            <li>
                <a href="{{ path('blog') }}">
                    Back to the list
                </a>
            </li>
        </ul>
    </div>

{% endblock %}

{% block more_js %} {% endblock %}